<% var profiles = profiles; -%>
<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
	<title>ITCreate部 公式サイト</title>
	<link rel="stylesheet" href="/assets/bower_components/sanitize-css/sanitize.css">
	<link rel="stylesheet" href="/assets/css/style.min.css">
	<link rel="apple-touch-icon-precomposed" href="/webclip.png">
	<script src="/assets/script/modernizr-custom.js"></script>
</head>

<body>

	<header class="header">
		<h1 class="header__logo">
			<a href="/" class="link">
				<picture>
					<source srcset="/assets/images/itc-logo.webp 1x, /assets/images/itc-logo@2x.webp 2x" type="image/webp">
					<img src="/assets/images/itc-logo.png" srcset="/assets/images/itc-logo.png 1x, /assets/images/itc-logo@2x.png 2x" alt="ITCreate部" class="img">
				</picture>
			</a>
		</h1>
		<p class="header__motto">
			つくりたいものを<br>
			作りたいときに<br>
			造りたいだけ<br>
			創る
		</p>
	</header><!-- .header -->

	<main>
		<section class="sec sec--01">
			<picture>
				<source srcset="/assets/images/itc-sticker.webp" type="image/webp">
				<img src="/assets/images/itc-sticker.png" alt="ITCreate部のステッカー" width="160" class="sticker">
			</picture>
			<h2 class="heading">ITCreate部とは？</h2>
			<p class="lead">
				やりたいことをやるただそれだけの部活です。<br>
				ITCにはネットワーク、プログラミング、デザイン、ゲーム制作、チーム開発など<br class="u-only-pc">様々なやりたいことを持った人がいます。<br>
				やりたいことをいろんな人とできる部活です。
			</p>
		</section><!-- .sec--01 -->

		<section class="sec sec--02">
			<h2 class="sr-only">活動</h2>
			<section>
				<div class="feature feature--01 feature--reverse">
					<div class="feature__text">
						<h3 class="heading"><i class="fa fa-pencil"></i> 勉強会</h3>
						<p class="lead">GitHub や C 言語など IT 分野をメインに学内で勉強会を開催しています。部員がメンターとして参加することで新たなる技術を学ぶきっかけにもなります。</p>
					</div>
					<div class="feature__picture">
						<p class="picture">
							<picture>
								<source srcset="/assets/images/sec02-img01.webp" type="image/webp">
								<img src="/assets/images/sec02-img01.jpg" alt="" class="picture__img">
							</picture>
						</p>
					</div>
				</div>
			</section>
			<section>
				<div class="feature feature--02">
					<div class="feature__text">
						<h3 class="heading"><i class="fa fa-rocket"></i> 合宿</h3>
						<p class="lead">2 泊 3 日、ネットワークの構築、BBQ 、LT 大会、24 時間ハッカソンと 3 日間ともに過ごし交流を深める ITCreate 部のメインイベントです。</p>
					</div>
					<div class="feature__picture">
						<p class="picture">
							<picture>
								<source srcset="/assets/images/sec02-img02.webp" type="image/webp">
								<img src="/assets/images/sec02-img02.jpg" alt="" class="picture__img">
							</picture>
						</p>
					</div>
				</div>
			</section>
			<section>
				<div class="feature feature--03 feature--reverse">
					<div class="feature__text">
						<h3 class="heading"><i class="fa fa-code"></i> メディアフロンティア</h3>
						<p class="lead">2 月に OIC で開催される学生作品展です。第 15 回より教室を 1 つお借りして ITC ブースを出しております。業界の方々や一般の方に見ていただける 1 年の集大成となるイベントです。</p>
					</div>
					<div class="feature__picture">
						<p class="picture">
							<picture>
								<source srcset="/assets/images/sec02-img03.webp" type="image/webp">
								<img src="/assets/images/sec02-img03.jpg" alt="" class="picture__img">
							</picture>
						</p>
					</div>
				</div>
			</section>
			<section>
				<div class="feature feature--04">
					<div class="feature__text">
						<h3 class="heading"><i class="fa fa-comments"></i> 報告会</h3>
						<p class="lead">毎月、月初めに先月やったこと、今月やりたいことを報告する場を設けております。新しい技術を知るきっかけにもなります。報告会を通して新たなアイデアや作品を生んでいきたいと思っています。</p>
					</div>
					<div class="feature__picture">
						<p class="picture">
							<picture>
								<source srcset="/assets/images/sec02-img04.webp" type="image/webp">
								<img src="/assets/images/sec02-img04.jpg" alt="" class="picture__img">
							</picture>
						</p>
					</div>
				</div>
			</section>
			<section>
				<div class="feature feature--05 feature--reverse">
					<div class="feature__text">
						<h3 class="heading"><i class="fa fa-users"></i> 学生スタッフ</h3>
						<p class="lead">カンファレンスなどに学生スタッフとして参加し、現場のエンジニア達と一緒にイベント運営をすることで、現場の技術や雰囲気を学んでいます。</p>
					</div>
					<div class="feature__picture">
						<p class="picture">
							<picture>
								<source srcset="/assets/images/sec02-img05.webp" type="image/webp">
								<img src="/assets/images/sec02-img05.jpg" alt="" class="picture__img">
							</picture>
						</p>
					</div>
				</div>
			</section>
		</section><!-- .sec--02 -->

		<section class="sec sec--03">
			<h2 class="sr-only">部員</h2>
			<ul class="card-list">
				<% profiles.forEach(function(profile) { %>
					<li class="card-list__item">
						<p class="position"><%= profile.position %></p>
						<p class="avatar">
							<% if (profile.avatarExt) { %>
								<picture>
									<source srcset="/assets/images/avatar-<%= profile.id %>.webp" type="image/webp">
									<img src="/assets/images/avatar-<%= profile.id %>.<%= profile.avatarExt %>" alt="" class="avatar__img">
								</picture>
							<% } else { %>
								<picture>
									<source srcset="/assets/images/avatar-empty.webp" type="image/webp">
									<img src="/assets/images/avatar-empty.png" alt="" class="avatar__img">
								</picture>
							<% } %>
						</p>
						<p class="realname"><%= profile.realname %></p>
						<p class="nickname"><%= profile.nickname %></p>
						<p class="course"><%= profile.course %></p>
						<% if (profile.interests) { %>
							<div class="interest">
								<dl class="interest-list">
									<dt class="sr-only">関心事</dt>
									<% profile.interests.forEach(function(interest) { %>
										<dd class="interest-list__item"><%= interest.term %></dd>
									<% }) %>
								</dl>
							</div>
						<% } %>
						<% if (profile.sns) { %>
							<div class="sns">
								<ul class="sns-list">
									<% if (profile.sns.twitter) { %>
										<li class="sns-list__item">
											<a href="<%- profile.sns.twitter %>" target="_blank" rel="noopener" class="icon icon--twitter">
												<i class="fa fa-twitter"></i>
												<span class="sr-only">Twitter</span>
											</a>
										</li>
									<% } %>
									<% if (profile.sns.facebook) { %>
										<li class="sns-list__item">
											<a href="<%- profile.sns.facebook %>" target="_blank" rel="noopener" class="icon icon--facebook">
												<i class="fa fa-facebook"></i>
												<span class="sr-only">Facebook</span>
											</a>
										</li>
									<% } %>
									<% if (profile.sns.github) { %>
										<li class="sns-list__item">
											<a href="<%- profile.sns.github %>" target="_blank" rel="noopener" class="icon icon--github">
												<i class="fa fa-github"></i>
												<span class="sr-only">GitHub</span>
											</a>
										</li>
									<% } %>
								</ul><!-- .sns-list -->
							</div><!-- .sns -->
						<% } %>
					</li><!-- .card-list__item -->
				<% }) %>
			</ul><!-- .card-list -->
		</section><!-- .sec--03 -->
	</main>

	<footer class="footer">
		<h2 class="sr-only">関連リンク</h2>
		<div class="footer__sns">
			<ul class="sns-list">
				<li class="sns-list__item">
					<a href="https://github.com/ITCreate/" target="_blank" class="icon icon--github">
						<i class="fa fa-github"></i>
						<span class="sr-only">GitHub</span>
					</a>
				</li>
			</ul>
		</div>
	</footer><!-- .footer -->

	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "CollegeOrUniversity",
		"name": "大阪情報コンピュータ専門学校",
		"telephone": "06-6772-2233",
		"faxNumber": "06-6772-1272",
		"email": "info@oic.ac.jp",
		"address": {
			"@type": "PostalAddress",
			"addressCountry": "日本",
			"postalCode": "543-0001",
			"addressRegion": "大阪府大阪市天王寺区",
			"streetAddress": "上本町6-8-4"
		},
		"member": {
			"@type": "EducationalOrganization",
			"name": "ITCreate部",
			"logo": "/assets/images/itc-logo.png",
			"url": "https://itc.moe",
			"member": [
				<% profiles.forEach(function(profile, i) { %>
					{
						"@type": "Person",
						"name": "<%= profile.realname %>",
						"alternateName": "<%= profile.nickname %>",
						"image": "<% if (profile.avatarExt) { %>/assets/images/avatar-<%= profile.id %>.<%= profile.avatarExt %><% } else { %>/assets/images/avatar-empty.png<% } %>",
						<% if (profile.sns) { %>
							"contactPoint": [
								<% if (profile.sns.twitter) { %>
									{
										"name": "Twitter",
										"contactType": "sales",
										"url": "<%- profile.sns.twitter %>"
									<% if (profile.sns.facebook || profile.sns.github) { %>},<% } else { %>}<% } %>
								<% } %>
								<% if (profile.sns.facebook) { %>
									{
										"name": "Facebook",
										"contactType": "sales",
										"url": "<%- profile.sns.facebook %>"
									<% if (profile.sns.github) { %>},<% } else { %>}<% } %>
								<% } %>
								<% if (profile.sns.github) { %>
									{
										"name": "GitHub",
										"contactType": "sales",
										"url": "<%- profile.sns.github %>"
									}
								<% } %>
							],
						<% } %>
						"description": "専攻: <%= profile.course %>、<% if (profile.interests) { %>関心事: <% profile.interests.forEach(function(interest, i) { %><%= interest.term %><% if (i < profile.interests.length - 1) { %>・<% } %><% }) %><% } %>"
					<% if (i < profiles.length - 1) { %>},<% } else { %>}<% } %>
				<% }) %>
			],
			"event": [
				{
					"@type": "EducationEvent",
					"name": "勉強会",
					"description": "GitHub や C 言語など IT 分野をメインに学内で勉強会を開催しています。部員がメンターとして参加することで新たなる技術を学ぶきっかけにもなります。",
					"location": {
						"@type": "PostalAddress",
						"addressCountry": {
							"@type": "Country",
							"name": "日本"
						},
						"postalCode": "543-0001",
						"addressRegion": "大阪府大阪市天王寺区",
						"streetAddress": "上本町6-8-4"
					}
				},
				{
					"@type": "EducationEvent",
					"name": "合宿",
					"description": "2 泊 3 日、ネットワークの構築、BBQ 、LT 大会、24 時間ハッカソンと 3 日間ともに過ごし交流を深める ITCreate 部のメインイベントです。",
					"location": {
						"@type": "PostalAddress",
						"addressCountry": {
							"@type": "Country",
							"name": "日本"
						},
						"postalCode": "599-0232",
						"addressRegion": "箱作2825－2",
						"streetAddress": "大阪府阪南市"
					}
				},
				{
					"@type": "EducationEvent",
					"name": "メディアフロンティア",
					"description": "2 月に OIC で開催される学生作品展です。第 15 回より教室を 1 つお借りして ITC ブースを出しております。業界の方々や一般の方に見ていただける 1 年の集大成となるイベントです。",
					"location": {
						"@type": "PostalAddress",
						"addressCountry": {
							"@type": "Country",
							"name": "日本"
						},
						"postalCode": "543-0001",
						"addressRegion": "大阪府大阪市天王寺区",
						"streetAddress": "上本町6-8-4"
					}
				},
				{
					"@type": "EducationEvent",
					"name": "報告会",
					"description": "毎月、月初めに先月やったこと、今月やりたいことを報告する場を設けております。新しい技術を知るきっかけにもなります。報告会を通して新たなアイデアや作品を生んでいきたいと思っています。",
					"location": {
						"@type": "PostalAddress",
						"addressCountry": {
							"@type": "Country",
							"name": "日本"
						},
						"postalCode": "543-0001",
						"addressRegion": "大阪府大阪市天王寺区",
						"streetAddress": "上本町6-8-4"
					}
				},
				{
					"@type": "EducationEvent",
					"name": "学生スタッフ",
					"description": "カンファレンスなどに学生スタッフとして参加し、現場のエンジニア達と一緒にイベント運営をすることで、現場の技術や雰囲気を学んでいます。",
					"location": {
						"@type": "PostalAddress",
						"addressCountry": {
							"@type": "Country",
							"name": "日本"
						},
						"postalCode": "543-0001",
						"addressRegion": "大阪府大阪市天王寺区",
						"streetAddress": "上本町6-8-4"
					}
				}
			]
		}
	}
	</script>

</body>

</html>
