<% var profiles = profiles; %>
<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
	<title>ITCreate部 公式サイト</title>
	<link rel="stylesheet" href="/assets/css/style.min.css">
	<link rel="stylesheet" href="/assets/bower_components/sanitize-css/sanitize.css">
	<link rel="stylesheet" href="/assets/bower_components/font-awesome/css/font-awesome.css">
</head>

<body>

	<header>
		<div class="header">
			<h1 class="header__logo">
				<a href="/">
					<img src="/assets/images/itc-logo.png" srcset="/assets/images/itc-logo.png 1x, /assets/images/itc-logo@2x.png 2x" alt="ITCreate部のロゴ">
				</a>
			</h1>
			<p class="header__motto">
				つくりたいものを<br>
				作りたいときに<br>
				造りたいだけ<br>
				創る
			</p>
		</div><!-- .header -->
	</header>

	<div class="sec sec--01">
		<section>
			<img src="/assets/images/itc-sticker.png" alt="ITCreate部のステッカー" width="160" class="sticker">
			<h1 class="heading">ITCreate部とは？</h1>
			<p class="lead">
				やりたいことをやるただそれだけの部活です。<br>
				ITCにはネットワーク、プログラミング、デザイン、ゲーム制作、チーム開発など<br class="u-only-pc">様々なやりたいことを持った人がいます。<br>
				やりたいことをいろんな人とできる部活です。
			</p>
		</section>
	</div><!-- .sec--01 -->

	<div class="sec sec--02">
		<section>
			<div class="feature feature--01">
				<div class="feature__picture">
					<img src="/assets/images/sec02-img01.jpg" alt="">
				</div>
				<div class="feature__text">
					<h1 class="heading"><i class="fa fa-pencil"></i> 勉強会</h1>
					<p class="lead">GitHub や C 言語など IT 分野をメインに学内で勉強会を開催しています。部員がメンターとして参加することで新たなる技術を学ぶきっかけにもなります。</p>
				</div>
			</div>
		</section>
		<section>
			<div class="feature feature--02 feature--reverse">
				<div class="feature__picture">
					<img src="/assets/images/sec02-img02.jpg" alt="">
				</div>
				<div class="feature__text">
					<h1 class="heading"><i class="fa fa-rocket"></i> 合宿</h1>
					<p class="lead">2 泊 3 日、ネットワークの構築、BBQ 、LT 大会、24 時間ハッカソンと 3 日間ともに過ごし交流を深める ITCreate 部のメインイベントです。</p>
				</div>
			</div>
		</section>
		<section>
			<div class="feature feature--03">
				<div class="feature__picture">
					<img src="/assets/images/sec02-img03.jpg" alt="">
				</div>
				<div class="feature__text">
					<h1 class="heading"><i class="fa fa-code"></i> メディアフロンティア</h1>
					<p class="lead">2 月に OIC で開催される学生作品展です。第 15 回より教室を 1 つお借りして ITC ブースを出しております。業界の方々や一般の方に見ていただける 1 年の集大成となるイベントです。</p>
				</div>
			</div>
		</section>
		<section>
			<div class="feature feature--04 feature--reverse">
				<div class="feature__picture">
					<img src="/assets/images/sec02-img04.jpg" alt="">
				</div>
				<div class="feature__text">
					<h1 class="heading"><i class="fa fa-comments"></i> 報告会</h1>
					<p class="lead">毎月、月初めに先月やったこと、今月やりたいことを報告する場を設けております。新しい技術を知るきっかけにもなります。報告会を通して新たなアイデアや作品を生んでいきたいと思っています。</p>
				</div>
			</div>
		</section>
		<section>
			<div class="feature feature--05">
				<div class="feature__picture">
					<img src="/assets/images/sec02-img05.jpg" alt="">
				</div>
				<div class="feature__text">
					<h1 class="heading"><i class="fa fa-users"></i> 学生スタッフ</h1>
					<p class="lead">カンファレンスなどに学生スタッフとして参加し、現場のエンジニア達と一緒にイベント運営をすることで、現場の技術や雰囲気を学んでいます。</p>
				</div>
			</div>
		</section>
	</div><!-- .sec--02 -->

	<div class="sec sec--03">
		<section>

			<ul class="card-list">
				<% profiles.forEach(function(profile) { %>
					<li class="card-list__item">
						<p class="label"><%- profile.position %></p>
						<p class="picture">
							<% if (profile.avatar) { %>
								<img src="<%= profile.avatar %>" alt="" class="picture__content">
							<% } else { %>
								<img src="/assets/images/profile-empty.png" alt="" class="picture__content">
							<% } %>
						</p>
						<p class="name"><%- profile.realname %></p>
						<p class="handle"><%- profile.nickname %></p>
						<p class="class"><%- profile.course %></p>
						<% if (profile.interests) { %>
							<div class="interest">
								<ul class="interest-list">
									<% profile.interests.forEach(function(interest) { %>
										<li class="interest-list__item"><%- interest.term %></li>
									<% }) %>
								</ul>
							</div>
						<% } %>
						<% if (profile.sns) { %>
							<div class="sns">
								<ul class="sns-list">
									<% if (profile.sns.twitter) { %>
										<li class="sns-list__item">
											<a href="<%- profile.sns.twitter %>" target="_blank" class="icon icon--twitter">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
									<% } %>
									<% if (profile.sns.facebook) { %>
										<li class="sns-list__item">
											<a href="<%- profile.sns.facebook %>" target="_blank" class="icon icon--facebook">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
									<% } %>
									<% if (profile.sns.github) { %>
										<li class="sns-list__item">
											<a href="<%- profile.sns.github %>" target="_blank" class="icon icon--github">
												<i class="fa fa-github"></i>
											</a>
										</li>
									<% } %>
								</ul><!-- .sns-list -->
							</div><!-- .sns -->
						<% } %>
					</li><!-- .card-list__item -->
				<% }) %>
			</ul><!-- .card-list -->
		</section>
	</div><!-- .sec--03 -->

	<footer>
		<div class="footer">
			<div class="footer__sns">
				<ul class="sns-list">
						<li class="sns-list__item">
							<a href="https://github.com/ITCreate/" target="_blank" class="icon icon--github">
								<i class="fa fa-github"></i>
							</a>
						</li>
				</ul>
			</div>
		</div>
	</footer>

</body>

</html>
